<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="MangaTrack"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidMaster"
        tools:targetApi="31">

        <!-- Bloquear orientación en todas las actividades -->

        <activity
            android:name=".principalperfil.PerfilActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".principalpamodoru.PamodoruActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".principallectura.agregarpendientes.AgregarPendientesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".principallectura.LecturaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".detallesserie.DetalleSerieActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".detallesmanga.DetalleMangaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".buscador.BuscadorDetallesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".buscador.BuscadorActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".iniciosesion.InicioSesionMainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".principalcoleccion.ColeccionDetallesActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".serie.SerieListActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".manga.MangaListActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".inicioyregistro.InicioSesionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>
</manifest>
